

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

#map{
	height: 100%;
	position: relative;
}

.search-box{
	margin: 0;
	z-index: 1;
	top: 0px;
	position: absolute;
	right: 10px;
	height:30px;
	border: 2px solid #6497b1;
	border-radius: 4px;
	width:21.9%;
}

#location-list {
	list-style: none;
	margin: 0;
	z-index: 1;
	top: 40px;
	position: absolute;
	right: 10px;
	border: 2px solid #6497b1;
	border-radius: 4px;
	font: 18px sans-serif;
	color: 	#011f4b;
	padding:0;
	width: 30%;
}

.list-item {
	background-color: #b3cde0;
	padding:4px;
	margin:2px;
	border-radius: 4px;
	height: 15%;
}

.item-hidden{
	display: none;
}